:root {
  // Colors
  --primary: #673ab7;
  --primary-dark: #512da8;
  --primary-light: #d1c4e9;

  // Text Colors
  --primary-light-text: #ffffff;
  --primary-dark-text: #212121;
  --secondary-text: #757575;

  // Background Colors
  --primary-light-background: #ffffff;
  --primary-dark-background: #212121;

  // Others
  --accent: #448aff;
  --divider: #bdbdbd;
}
